* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 200px;
    background-color: yellow;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

aside {
    width: 20%;
    height: 200px;
    padding: 10px;
    float: left;
}

.contenitore{
    height: 100%;
}
aside .contenitore{
    background-color: violet;
}

aside .right {
    height: 400px;
    background-color: violet;
}

main {
    width: 60%;
    height: 500px;
    padding: 10px;
    float: left;
}

main .contenitore{
    background-color: purple;
}

footer {
    height: 100px;
    background-color: lightblue;
}
