* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 200px;
    background-color: yellow;
}

.clearfix::after{
    content "";
    display: table;
    clear: both
}

aside {
    width: 20%;
    height: 200px;
    padding: 10px;
    background-color: violet;
    float: left;
}


main {
    width: 60%;
    height: 500px;
    background-color: purple;
    float: left;
}

footer {
    height: 100px;
    background-color: lightblue;
}
